.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 45px;
  border-top: 2px solid #ededed;
  background-color: white;
  z-index: 20;

  display: flex;
  justify-content: space-around;
  align-items: center;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__amount {
    font-size: 14px;
    font-weight: 600;
  }
}